/*
  mgbModern Theme 2.0 - main.css - for MGB 0.7.x
  Created by mopzz
  07.02.2023
  https://www.m-gb.org/
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F5F9FE;
    font-family: system-ui, sans-serif;
}

/* Zentrierter Inhaltsbereich */
.page-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* END OF FILE */
